:root {
  --color-header-title: #1b85e9;
  --color-header-title-hover: #2a96fc;

  --color-header-links: #494949;
  --color-header-links-hover: #393939;

  --color-primary: #252c35;
  --color-secondary: #f8f8f8;

  --shadow-color: 0deg 30% 5%;
  --shadow-elevation-low: 0px 0.3px 0.3px hsl(var(--shadow-color) / 0.25),
    0px 0.4px 0.4px -1.3px hsl(var(--shadow-color) / 0.24),
    0px 0.9px 1px -2.6px hsl(var(--shadow-color) / 0.23);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Header */
.header {
  width: 100%;
  height: max-content;
  padding: .5rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--shadow-elevation-low);
  z-index: 500;
}

.header__logo {
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--color-header-title);
}

.header__logo:hover {
  color: var(--color-header-title-hover);
  transition: .3s;
}

.header__list {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.header__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3rem;
  color: var(--color-header-links);
  cursor: pointer;
}

.header__item p {
  font-size: 15px;
  font-weight: 500;
}

.header__item:hover {
  color: #222;
  transition: .6s;
}

.header__auth-btns {
  display: flex; 
  align-items: center;
  gap: 10px;
}

.header__auth-login {
  padding: 6px 20px;
  font-weight: 500;
  color: var(--color-header-title);
  border: 2px solid var(--color-header-title);
  border-radius: 15px;
  box-shadow: 1px 1px 3px #2547684d;
}

.header__auth-login:hover {
  background-color: var(--color-header-title);
  color: #fff;
  transition: .3s ease-in-out;
}

.header__auth-signup {
  padding: 6px 12px;
  color: white;
  font-weight: 500;
  background-color: var(--color-header-title);
  border: 2px solid var(--color-header-title);
  border-radius: 15px;
  box-shadow: 1px 1px 3px #25476893;
}

.header__auth-signup:hover {
  background-color: transparent;
  border-color: var(--color-header-title);
  color: var(--color-header-title);
  transition: .3s ease-in-out;
}

.active__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3rem;
  color: #111;
  cursor: pointer;
  transition: 2s;
}

/* Cart */
.cart {
  width: 18.5rem;
  height: 100vh;
  position: absolute;
  top: 4.1rem;
  right: 0;
  display: none;
  flex-direction: column;
  border: 1px solid #cfdad7;
  color: #333;
  background-color: var(--color-secondary);
  box-shadow: 2px 2px 8px #888;
}

.cart__header {
  width: 100%;
  height: 65%;
}

.cart__title {
  margin: 1.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.cart__container {
  margin: 0 auto;
  width: 100%;
  height: 80%;
  border-bottom: 0.1rem solid #ddd;
  overflow-y: scroll;
}

.fa-face-frown {
  margin: 5rem 0 0 7rem;
  font-size: 5rem;
  color: #9191915e;
}

.cart__container-message {
  margin: 2rem 0 0 2rem;
  font-size: 1rem;
  font-weight: 500;
  color: #9191915e;
}

.cart__footer {
  margin: 0 auto 0;
  padding-top: 1.5rem;
  width: 85%;
  height: 35%;
  display: grid;
  grid-template-columns: 1fr, 1fr;
}

.cart__footer-total {
  height: fit-content;
  grid-column: 1;
  font-size: 1.1rem;
  font-weight: 500;
  color: #777;
}

.cart__footer-value {
  height: fit-content;
  grid-column: 2;
  display: flex;
  justify-content: flex-end;
  font-size: 1.1rem;
  font-weight: 600;
}

.cart__footer-btn {
  margin-top: -3.5rem;
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  grid-area: 2 / 1 / 2 / 3;
  font-size: 1rem;
  border: none;
  color: #f5f5f5;
  background-color: var(--color-buttons);
  box-shadow: 2px 2px 5px #222;
  cursor: pointer;
}

.cart__footer-btn:hover {
  transform: scale(1.01);
  box-shadow: 3px 3px 8px #222;
  transition: 0.1s;
}

/* Home */
.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

/* Home products */
.home__products {
  width: 85%;
  margin: 1rem auto 0;
  display: flex;
  flex-direction: column;
}

.home__search {
  margin: 15px 0 10px;
}

.search__input {
  width: 40%;
  height: 2.5rem;
  padding: 0 40px 0 20px;
  font-size: 1rem;
  color: #666;
  background-color: #f8f8f8;
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: 2px 2px 5px #ccc;
}

.search__input:hover {
  box-shadow: 3px 3px 7px #ccc;
  transition: .3s;
}

.search__input:focus {
  box-shadow: 3px 3px 7px #ccc;
}

.search__btn {
  margin-left: -2.1rem;
  font-size: 20px;
  color: #666;
}

.search__container {
  max-height: fit-content;
  position: absolute;
  top: 8.4rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 0.2rem;
  box-shadow: 1px 1px 3px #ccc;
  z-index: 100;
}

.search__list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.search__item {
  padding-left: 2rem;
  width: 39rem;
  height: 2.3rem;
  display: flex;
  align-items: center;
  font-size: 0.95rem;
  font-weight: 400;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.search__item:hover {
  font-size: 0.96rem;
  background-color: #f2f2f2;
}

.home__container {
  margin: 2rem auto 0;
  width: 100%;
  min-height: 25rem;
  border-radius: 0.5rem;
}

.home__title {
  color: #333;
  font-size: 1.5rem;
  font-weight: 600;
}

.products__container {
  margin-top: 2rem;
  margin-bottom: 5rem;
  width: 100%;
  min-height: 20rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  column-gap: 2rem;
  row-gap: 3rem;
}

/* Footer */
.footer {
  width: 100%;
  position: static;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ccc;
}

.footer__title {
  margin-top: 1.8rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color-header-font);
}

.footer__links {
  margin-top: 1.5rem;
  width: 10rem;
  display: flex;
  justify-content: space-evenly;
}

.footer__link {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #444;
}

.footer__link:hover {
  color: #333;
  transition: .5s;
}
