:root {
  --color-header-title: #1b85e9;
  --color-header-title-hover: #2a96fc;

  --color-header-links: #797979;
  --color-header-links-hover: #393939;

  --color-primary: #252c35;
  --color-secondary: #f8f8f8;

  /* Cart Shadows */
  --shadow-color-cart: 0deg 0% 63%;
  --shadow-elevation-medium-cart: -0.2px 0px 0.2px
      hsl(var(--shadow-color-cart) / 0.36),
    -0.6px 0px 0.7px -0.8px hsl(var(--shadow-color-cart) / 0.36),
    -1.6px 0px 1.8px -1.7px hsl(var(--shadow-color-cart) / 0.36),
    -3.8px -0.1px 4.3px -2.5px hsl(var(--shadow-color-cart) / 0.36);

  /* Header Shadows */
  --shadow-color-header: 0deg 0% 90%;
  --shadow-elevation-medium: 0px 0.3px 0.3px
      hsl(var(--shadow-color-header) / 0.36),
    0px 0.9px 1px -0.8px hsl(var(--shadow-color-header) / 0.36),
    0px 2.3px 2.6px -1.7px hsl(var(--shadow-color-header) / 0.36),
    0px 5.5px 6.2px -2.5px hsl(var(--shadow-color-header) / 0.36);

  /* Scrollbar style */
  --scroll-size: 10px;
  --scroll-radius: 0px;
  --scroll-track: #888888a8;
  --scroll-thumb-color: #888;
  /* Scrollbar cart style */
  --scroll-cart-size: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Header */
.header {
  padding: 2rem 1rem;
  width: 100%;
  height: 3.5rem;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  box-shadow: var(--shadow-elevation-medium);
  z-index: 1000;
}

.header__content {
  margin: 0 auto;
  width: 100%;
  height: min-content;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-size: 1.4rem;
  font-weight: 800;
  color: var(--color-header-title);
}

.header__logo:hover {
  color: var(--color-header-title-hover);
  transition: 0.3s;
}

.header__nav {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  list-style: none;
}

.header__profile {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__profile-menu {
  width: 9rem;
  height: 4rem;
  position: absolute;
  top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 3px 3px 8px #e2e2e2;
  border-radius: 5px;
  border: none;
  cursor: default;
  z-index: 1000;
}

.header__profile-logout {
  padding: 8px 25px;
  position: relative;
  font-size: 1rem;
  color: #fff;
  background-color: #ff0000b9;
  border: none;
  border-radius: 3px;
  box-shadow: 3px 3px 8px #eee;
}

.header__profile-logout-hover {
  padding: 8px 25px;
  position: relative;
  font-size: 1rem;
  color: #fff;
  background-color: #ff0000ce;
  border: none;
  border-radius: 3px;
  box-shadow: 4px 4px 10px #eee;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.header__profile img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header__cart-btn {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 20px;
  background-color: transparent;
  color: var(--color-header-links);
  border: none;
  cursor: pointer;
}

.header__cart-btn:hover {
  color: #444;
  background-color: #f2f2f2;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.header__item-cart {
  width: 23px;
}

.header__auth-btns {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  gap: 10px;
}

.header__auth-login {
  padding: 6px 14px;
  font-weight: 500;
  color: #1b85e9c9;
  border: 2px solid #1b85e9c9;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #2547684d;
}

.header__auth-login:hover {
  background-color: var(--color-header-title);
  color: #fff;
  transition: 0.2s ease-out;
}

.header__auth-signup {
  padding: 6px 8px;
  color: white;
  font-weight: 500;
  background-color: #1b85e9;
  border: 2px solid #1b85e9;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #25476893;
}

.header__auth-signup:hover {
  background-color: transparent;
  border-color: #1b85e9c9;
  color: #1b85e9c9;
  transition: 0.2s ease-out;
}

.active__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  color: #111;
  cursor: pointer;
  transition: 2s;
}

/* Cart */
.cart {
  width: 16rem;
  height: 100vh;
  position: fixed;
  top: 64px;
  right: -16.1rem;
  flex-direction: column;
  color: #333;
  background-color: #f9f9f9;
  transition: 0.2s ease-in;
  z-index: 500;
  box-shadow: var(--shadow-elevation-medium-cart);
}

.cart__active {
  width: 16rem;
  height: 100vh;
  position: fixed;
  top: 64px;
  right: 0rem;
  flex-direction: column;
  color: #333;
  background-color: #f9f9f9;
  transition: 0.2s ease-out;
  z-index: 500;
}

.cart__title {
  margin: 0.8rem 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.cart__container {
  width: 100%;
  height: 64%;
  border-bottom: 1px solid #eee;
  overflow-y: scroll;
}

.cart__container-empty {
  margin: auto;
  width: 80%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.7rem;
  color: #777;
}

.cart__container-empty-cart {
  width: 50px;
}

.cart__container-empty small {
  font-size: 1rem;
  text-align: center;
}

.cart__footer {
  padding: 1rem 1.5rem;
  width: 100%;
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  z-index: 100;
}

.cart__footer-total {
  height: min-content;
  grid-column: 1;
  font-size: 1.1rem;
  font-weight: 400;
  color: #666;
}

.cart__footer-value {
  height: min-content;
  grid-column: 2;
  display: flex;
  justify-content: flex-end;
  color: #444;
  font-size: 1.1rem;
  font-weight: 600;
}

.cart__footer-btn {
  margin-top: 1rem;
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  grid-area: 2 / 1 / 2 / 3;
  font-size: 1rem;
  border: none;
  color: #f5f5f5;
  background-color: var(--color-header-title);
  box-shadow: 2px 2px 5px #7c7c7ca1;
  cursor: pointer;
}

.cart__footer-btn:hover {
  transition: 0.1s;
}

.cart__footer-btn:disabled {
  background-color: #1b85e9c0;
  cursor: default;
}

/* Cart loading */
.cart__loading {
  width: 100%;
  height: 100%;
}

.cart__loading-spinner {
  margin: auto;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: relative;
  top: 45%;
  transform: translateY(-65%);
  border: 3px solid #999;
  border-top-color: transparent;
  animation: loading 0.6s linear infinite;
  transition: 0.2s ease-in-out;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Home */
.home {
  margin-top: 4rem;
  padding-top: 2rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
}

/* Home products */
.home__products {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.home__search {
  margin: 5px 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search__div {
  width: 100%;
}

.search__input {
  width: 100%;
  height: 2.5rem;
  padding: 0 43px 0 20px;
  font-size: 1rem;
  color: #666;
  background-color: #f9f9f9;
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: 2px 2px 8px #ddd;
}

.search__input:hover {
  box-shadow: 3px 3px 7px #ccc;
  transition: 0.3s;
}

.search__input:focus {
  box-shadow: 3px 3px 7px #ccc;
}

.search__btn {
  margin-left: -2.1rem;
  font-size: 20px;
  color: #666;
}

.search__categories-div {
  padding-top: 2rem;
  width: 100%;
}

.search__categories-div h5 {
  color: #333;
}

.search__categories-container {
  margin: 0 auto;
  width: 100%;
  padding-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.search__categories-container button {
  padding: 0.4rem 0.7rem;
  font-size: 0.95rem;
  color: #666;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

.search__categories-container button:hover {
  color: #444;
  background-color: #fff;
  box-shadow: 3px 3px 8px #e1e1e1;
  transition: all 0.2s ease-in-out;
}

.home__container {
  margin: 4rem auto 0;
  width: 100%;
  min-height: 25rem;
  border-radius: 0.5rem;
}

.home__title {
  color: #333;
  font-size: 1.4rem;
  font-weight: 600;
}

.home__title small {
  color: #777;
  font-size: 0.9rem;
  font-weight: 500;
}

.products__container {
  margin-top: 3rem;
  margin-bottom: 5rem;
  width: 100%;
  min-height: 22rem;
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  column-gap: 1rem;
  row-gap: 2rem;
}

/* Footer */
.footer {
  padding: .5rem;
  width: 100%;
  position: static;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: #666;
}

.footer__title {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}

.footer__links {
  margin-top: 1rem;
  display: flex;
  gap: 6px;
}

.footer__link {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
}

.footer__link:hover {
  color: #ccc;
  transition: 0.5s;
}

/* Mediaqueries */
@media screen and (min-width: 580px) {
  .products__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .header__content {
    width: 85%;
  }

  .header__logo {
    font-size: 1.8rem;
  }

  .header__nav {
    gap: 0.8rem;
  }

  .header__profile {
    margin-right: 1rem;
    width: 34px;
    height: 34px;
  }

  .header__cart-btn {
    font-size: 23px;
  }

  .header__item-cart {
    width: 25px;
  }

  .search__categories-container {
    width: 80%;
  }

  .home__container {
    margin-top: 1.5rem;
  }

  .home__products {
    width: 85%;
  }

  .search__input {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .header__content {
    max-width: 70rem;
  }

  .header__logo {
    font-size: 1.8rem;
  }

  .cart__active {
    width: 20rem;
  }

  .products__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .home {
    margin: 4rem auto 0;
    max-width: 80rem;
  }

  .home__products {
    width: 86%;
  }

  .home__search {
    flex-direction: row;
    gap: 6rem;
  }

  .search__input {
    width: 100%;
  }

  .search__categories-div {
    margin-top: -2rem;
  }
}

@media screen and (min-width: 2000px) {
  .header__content {
    width: 70rem;
  }
}

/* Scrollbar style */
body::-webkit-scrollbar {
  width: var(--scroll-size);
  height: var(--scroll-size);
}
body::-webkit-scrollbar-track {
  background-color: var(--scroll-track, transparent);
  border-radius: var(--scroll-track-radius, var(--scroll-radius));
}
body::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color, grey);
  background-image: var(--scroll-thumb, none);
  border-radius: var(--scroll-thumb-radius, var(--scroll-radius));
}

/* Cart scrollbar style */
.cart__container::-webkit-scrollbar {
  width: var(--scroll-cart-size);
  height: var(--scroll-cart-size);
}
/* Search scrollbar style */
.search__container::-webkit-scrollbar {
  width: var(--scroll-cart-size);
  height: var(--scroll-cart-size);
}
